:root {
  --main-color: #EB4C19;
  --main-light: #F57851;
  --main-text-color: #992B08;
  --main-background-color: #F59A7D;
  --additional-background-color:#B0573A;
  --accent-green: #066B38;
  --accent-green-light: #6BD29E;
}

.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:300px;
}

.row {
  margin-bottom: 1.5em;
}

.footer{
    background-color: var(--main-background-color);
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.footer a {
  color: var(--main-text-color);
}

.empty-height {
  min-height: 54vh; /*чтобы футер не лип к хедеру, если страница пуста*/
}

address{
    font-size:95%;
    margin:0px;
    color:#0f0f0f;
}

body {
    padding:65px 0px 0px 0px;
    z-index:0;
    font-family: 'MS Serif', serif;
}

h1, h2, h3, h3 a, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;  
  color: var(--main-text-color);
}

h3 {
  font-weight: bold;
}

h3 > .underline {
  text-align: left;
}

h4, h5 {
  font-weight: 500;
}

h3 a:hover {
  color: var(--accent-green)
}

h6 {
  margin-bottom: 0;
  font-weight: bold;
}

.navbar {
     background: linear-gradient(135deg, var(--main-light) 25%, var(--main-color) 83%, rgb(255, 247, 89) );   
     color: var(--main-text-color);
     opacity: 0.95;
}

.navbar-light .navbar-nav .active>.nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-brand,
.navbar-light .navbar-brand:focus, 
.navbar-light .navbar-brand:hover {
    color: var(--main-text-color);
}

.navbar-light .navbar-nav .nav-link:focus, 
.navbar-light .navbar-nav .nav-link:hover {
  color: white;
}

.navbar-light .navbar-nav .active>.nav-link, 
.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
  text-decoration: underline;
}

.navbar a {
  color: var(--main-text-color);
  margin-right: 1em;
}

.navbar-brand {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.9em;
  font-weight: bold;
}

.navbar-toggler-icon {
color: green;
}

.nav-item {  
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

.nav-item a:hover {
  color: white;
  background-color: var(--main-text-color);
  border-radius: 50px;
  transition-property: color, background-color;
  transition-duration: .4s;
}

.btn-more {
  color: var(--accent-green-light);
  border-color: white;
}

.btn-more:hover,
.btn-feedback:hover,
.page-link:hover
 {
  color: var(--accent-green);
  border-color: var(--accent-green);
  background-color: var(--accent-green-light);
}

.btn-feedback:hover {
  border-width: 1.5px;
  font-weight: 500;
}

.btn-more:focus,
.btn-feedback:focus {
  color: var(--accent-green);
  border-color: var(--accent-green);
  background-color: var(--accent-green-light);
  box-shadow: none;
}

.page-link:focus {
  color: var(--accent-green);
  border-color: var(--accent-green);
  box-shadow: none;
}

.btn-more:active,
.btn-feedback:active {
  color: var(--main-text-color);
  border-color: var(--main-text-color);
  background-color: var(--main-background-color);
  box-shadow: none;
}

.btn-feedback,
.page-item.active .page-link {
  color: var(--accent-green);
  border-color: var(--accent-green);
  background-color: var(--accent-green-light);    
}

.btn-feedback {
  line-height: 2em;
  width:100%;
}

.page-link {
  color: var(--accent-green-light);
  border-color: var(--accent-green);
}

h3 {
  color: var(--main-text-color);
  padding-bottom: 10px;
  margin: 1.5em auto;
}

.center {  
  text-align: center;
}

.box-shadow { 
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); 
}

a.doctor {
  color: var(--main-color);
  text-align: center;
}

.space {
  justify-content: space-around;
}

a.doctor:hover {
  color: var(--accent-green);
}

card-body a {
  align-items: center;
  justify-content: center;
}

.feedback {
  margin-top: 2em;
}

.underline {
   border-bottom: 3px solid currentColor;
}

.left {
  text-align: left;
}

.services {
  padding-left: 100px;
}

.service-name {
  color: var(--main-text-color);
}

.service-name:hover {
  color: var(--accent-green-light);
}

.table-container {
  padding: 1.5rem;  
}

.img {
   margin: 0 0 10px 20px;
   padding: 0;
   width: 200px;
}

.bg-text {
  font-size: 1.1em;
}

.subtitle {
  text-transform: uppercase;
  font-size: .5em;
  color: white;  
  font-family: 'Open Sans', sans-serif;
  margin-left: 3em;
  margin-right: 3em;
  margin-top: -1.8em;
  background-color: rgb(22, 22, 92);
  display: block; 
}

.img__container {
  position: relative;
}

.img__container>img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.img__description {
  position: absolute;
  left: 30%;
  right: 0;
  bottom: 50%;
  padding: 15px;
}

.img__header > a {
  font-weight: bold;
  font-size: 2.3em;
  color: var(--main-text-color);
}

.img__text {
  color: var(--main-color);
   padding-left: 2em;
   font-size: 1.3em;
   font-weight: bold;
   font-family: 'Open Sans', sans-serif;
}

.img__header .subtitle {
  width: 15em;
  margin-left: 5em;
}

@media(max-width: 760px) {
  .img__header > a {
  font-weight: bold;
  font-size: 1.6em;
  color: var(--main-text-color);
  }

  .img__description {
  bottom: 5%;
  left: 0;
  }

  .img__header .subtitle {
  width: 15em;
  margin-left: 3em;
  font-size: 0.4em;
}

.img__text {
  color: var(--main-color);
   padding-left: 1em;
   font-size: 1em;
}
}